<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="src/css/test.css">
</head>

<body>
    <div class=" main">
    </div>

    <div id="index" class="block">
        <nav>
            <ul>
                <li class="index  Active">Главная</li>
                <li class="contacts">Контакты</li>
                <li class="other">Другое</li>
            </ul>
        </nav>
        <div class="content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.</div>
        <div class="content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.</div>
    </div>

    <div id="contacts" class="block">
<div class="content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.</div>
        <script id="person-id" type="text/template">
            <strong><%= name %></strong> (
            <%= age %>) -
                <%= occupation %>
        </script>
        <div id="list-contacts"></div>
        <nav>
            <ul>
                <li class="index">Главная</li>
                <li class="contacts Active">Контакты</li>
                <li class="other">Другое</li>
            </ul>
        </nav>
    </div>
    <div id="other" class="block">
        <div class="content">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.</div>
        <nav>
            <ul>
                <li id="back"><a href="javascript:history.back();">Назад</a></li>
            </ul>
        </nav>

    </div>


    <script src="src/js/lib/jquery-1.8.3.js"></script>
    <script src="src/js/lib/underscore.js"></script>
    <script src="src/js/lib/backbone.js"></script>
    <script src="src/js/main.js"></script>
    <script src="src/js/test/models.js"></script>
	<script src="src/js/test/collections.js"></script>
	<script src="src/js/test/views.js"></script>
	<script src="src/js/test/routers.js"></script>

	<script>
        var controller = new Controller(); // Создаём контроллер

    Backbone.history.start(); // Запускаем HTML5 History push

    </script>

</body>

</html>
